# File types
*.pyc
*.swo
*.swp
*.swn
*.log
*.mo

# OS files
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
*~

# Configuration files
/app/local_settings.py
.requirements_timestamp
.idea
.tags
.tags_sorted_by_file

# Folders
/app/static/.sass-cache
/app/static/.bundle-gems
/app/static/css/*.css
/app/static/css/*.css.map
/app/static/img/sprites-*.png
/app/static/css/bootstrap
/app/static/bower_components

/static
/reports
/doc/build
/uploads
/app/media/uploads