# Framework
Django==1.10.5

# Libs
psycopg2==2.5.4

# Django-specific libraries
django-braces==1.10.0
django-crispy-forms==1.6.1
django-extensions==1.7.6
django-grappelli==2.9.1
django-pipeline==1.6.11