{% extends "layout/base.html" %}
{% load paginator_tags %}

{% block title %}Orders{% endblock %}

{% block content %}
    <h1>My orders</h1>

{% if orders %}
    <div class="clearfix">
        <form class="form-inline pull-right" role="search">
            <div class="form-group">
                <label>Status:</label>
                <select name="status" class="form-control">
                    <option value="" {% if not status_query %}selected="selected"{% endif %}>---</option>
                {% for status_code, status_name in orders.0.STATUS_CHOICES %}
                    <option value="{{ status_code }}" {% ifequal status_code status_query %}selected="selected"{% endifequal %}>{{ status_name }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
{% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ingredients</th>
                <th>Price</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.get_ingredients }}</td>
                    <td>{{ order.get_price }}$</td>
                    <td>
                    {% if order.status == order.STATUS_ORDERED %}
                        <span class="label label-primary">{{ order.get_status_display }}</span>
                    {% elif order.status == order.STATUS_IN_PROGRESS %}
                        <span class="label label-info">{{ order.get_status_display }}</span>
                    {% elif order.status == order.STATUS_ON_ROAD %}
                        <span class="label label-warning">{{ order.get_status_display }}</span>
                    {% elif order.status == order.STATUS_DELIVERED %}
                        <span class="label label-success">{{ order.get_status_display }}</span>
                    {% endif %}
                    </td>
                    <td>{{ order.created_at|date:'d/m/Y g:i A' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% get_pagination 2 1 %}
{% endblock %}