{% extends "layout/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="well">
        <h1>Welcome to a burger ordering platform</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed quis leo sheet lectus facilisis suscipit. Mauris et nunc ullamcorper.
            Vestibule tempus rutrum ligule, at pellentesque Arcu.
            Pellentesque sem lorem, eget mattis lobortis nec, pretium sit amet NIBH.
            Nam ultricies mollis lacus non rhoncus.
            Praesent scelerisque diam leo, et rutrum tempor metus quis.
            Phasellus tempus tincidunt sem, id scelerisque iaculis quis diam.
            In hac habit asse platea dictumst. Nam mattis ultricies NIBH a ultrices.
            Aliquam quis felis lectus. Vestibulum eget fermentum velit, dignissim quis libero.
            Class aptent taciti sociosqu ad Litora torquent per conubia nostra, per inceptos himenaeos.
            Nullam a dignissim erat augue porta molestie.
            Vestibule feugiat, leo et consequat dignissim, risus purus NISL facilisis vitae gravida lacus dui Finibus mi.
        </p>
    {% if user.is_authenticated %}
        <p><a href="{% url 'shop:order_create' %}" class="btn btn-warning btn-lg" role="button">Make an order &raquo;</a></p>
    {% else %}
        <p>Please, log in to make an order</p>
    {% endif %}
    </div>
{% endblock %}